on:
  push:
    branches: main
  schedule:
    - cron: '0 0 * * 7'  # every Sunday at midnight


name: Render and Publish to Netlify

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: false 
          # uncomment below and fill to pin a version
          # version: 0.9.600

      - name: Set up R
        uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true
      
      - uses: r-lib/actions/setup-renv@v1 # r packages
      
      # add software dependencies here

      # To publish to Netlify, RStudio Connect, or GitHub Pages, uncomment
      # the appropriate block below
      
      - name: Publish to Netlify (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        
